<div class="panel panel-default">
  <div class="panel-heading"><h1>All Tasks</h1></div>

    <div class="panel-body"><% @tasks.each do |task| %>
      <table class="table">
        <tbody>
          <tr>
          <td>
            <h3><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></h3></td>
            <td class="pull-right"><a class="btn btn-info" value="edit" href='/tasks/<%= task.id %>/edit'>Edit</a></td>
            <td class="pull-right">
              <form action="/tasks/<%= task.id  %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete" class="btn btn-danger">
              </form>
          </tr>
        </table>
    <% end %></div>

</div>
